**UAS MACHINE LEARNING PART 2**


**NAMA: AZKA FAUZI AL PARISI**

**NPM: 197006057**

**KELAS: B**

Proyek ini merupakan UAS bagian 2 yang menggunakan Dataset Sonar yang dapat digunakan untuk memprediksi suatu objek barang tambang “mine” atau batu “rock”. Dataset ini terdiri dari 60 input variable dan 1 output variable. Pilihlah 3 algoritma klasifikasi yang pernah kalian pelajari kemudian lakukan prediksi berdasarkan dataset tersebut.

**(Untuk lebih mempermudah kita ubah dulu dataset sonarnya menjadi format csv)**

Dalam studi kasus ini, Tiga Algoritma yang digunakan sebagai perbandingan dalam memprediksi, antara lain:

   1. Support Vector Machine
   2. Naive Bayes - Gaussian
   3. Klasifikasi - Random Forest

# Import Library

*   Pandas Merupakan Library untuk memanipulasi data
*   Sklearn merupakan Library berbasis Python untuk membangun model Machine Learning
*   Confusion Matrix Untuk Memberikan informasi perbandingan hasil klasifikasi yang dilakukan oleh sistem (model) dengan hasil klasifikasi sebenarnya.
*   Gaussian NB yaitu Salah satu algoritma dari naivebayes yang dapat memuat data numerik

In [ ]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

# Memasukan Data

In [ ]:
#Mengimport data csv
df = pd.read_csv('sonar.all-data.csv')
df.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V52,V53,V54,V55,V56,V57,V58,V59,V60,Class
0,1,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,2,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,3,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,4,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,5,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

# Menelaah Data

In [ ]:
print(df.columns)

Index(['Unnamed: 0', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9',
       'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19',
       'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29',
       'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39',
       'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49',
       'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59',
       'V60', 'Class'],
      dtype='object')

In [ ]:
print(df.dtypes)

Unnamed: 0      int64
V1            float64
V2            float64
V3            float64
V4            float64
               ...
V57           float64
V58           float64
V59           float64
V60           float64
Class          object
Length: 62, dtype: object

In [ ]:
df.shape

(208, 62)

In [ ]:
df.describe()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V51,V52,V53,V54,V55,V56,V57,V58,V59,V60
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,104.500000,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,60.188592,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,1.000000,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,52.750000,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,104.500000,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,156.250000,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,208.000000,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

# Data Preparation

In [ ]:
# Nilai 1 untuk Rock dan 2 untuk Mine
df['Class'] = df['Class'].map({
    'R': 1,
    'M': 2
})

In [ ]:
print(df.dtypes)

Unnamed: 0      int64
V1            float64
V2            float64
V3            float64
V4            float64
               ...
V57           float64
V58           float64
V59           float64
V60           float64
Class           int64
Length: 62, dtype: object

In [ ]:
target_names = ['', 'R', 'M']
df['category'] = df.Class.apply(lambda x: target_names[x])
df.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V53,V54,V55,V56,V57,V58,V59,V60,Class,category
0,1,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,...,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,1,R
1,2,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,...,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,1,R
2,3,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,...,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,1,R
3,4,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,...,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,1,R
4,5,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,...,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,1,R

In [ ]:
X = df.drop(['Class', 'category'], axis='columns')
X.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V51,V52,V53,V54,V55,V56,V57,V58,V59,V60
0,1,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
1,2,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,...,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044
2,3,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,...,0.0033,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078
3,4,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,...,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117
4,5,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,...,0.0156,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094

In [ ]:
y = df.Class

Menggunakan fungsi train_test_split untuk membagi data training dan data testing, pada kasus ini proporsinya adalah 70% data training dan 30% data testing. Proses split tersebut menghasilkan 4 kumpulan data yang ditampung dalam 4 variabel berbeda

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
print(len(X_train))
print(len(X_test))

145
63

#Memodelan Data

## Support Vector Machine

In [ ]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

Kernel Linear adalah fungsi kernel yang paling sederhana. Ini diberikan oleh produk dalam (x,y) ditambah konstanta opsional c

function model-predict digunakan untuk memprediksi label nilai data berdasarkan model yang dilatih. Fungsi predict() hanya menerima satu argumen yang biasanya merupakan data yang akan diuji. Kasus ini kami menggunakan X_test untuk diuji

In [ ]:
model.fit(X_train, y_train)
model.score(X_test, y_test)

1.0

In [ ]:
pre = model.predict(X_test)
print(pre)

[1 1 2 1 1 1 2 1 1 1 1 2 1 1 2 2 1 2 2 1 1 2 2 1 2 1 2 1 2 2 2 2 1 2 2 1 1
 1 1 1 2 2 1 2 2 1 2 1 1 2 1 2 2 1 2 1 2 2 2 2 1 2 2]

In [ ]:
percentage = model.score(X_test, y_test)

In [ ]:
from sklearn.metrics import confusion_matrix
res = confusion_matrix(y_test, pre)
print("Confusion Matrix")
print(res)
print(f"Test Set: {len(X_test)}")
print(f"Accuracy = {percentage*100} %")

Confusion Matrix
[[31  0]
 [ 0 32]]
Test Set: 63
Accuracy = 100.0 %

In [ ]:
from sklearn.metrics import classification_report
print("Accuracy Classification")
print(classification_report(y_test,pre))

Accuracy Classification
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        31
           2       1.00      1.00      1.00        32

    accuracy                           1.00        63
   macro avg       1.00      1.00      1.00        63
weighted avg       1.00      1.00      1.00        63

##Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9682539682539683

In [ ]:
et = rf.predict(X_test)
print(et)

[1 1 2 1 1 1 2 1 1 1 1 2 1 1 2 2 1 2 2 1 1 1 2 1 2 1 2 1 2 2 2 2 1 2 2 1 1
 1 1 1 2 1 1 2 2 1 2 1 1 2 1 2 2 1 2 1 2 2 2 2 1 2 2]

In [ ]:
percentage2 = rf.score(X_test, y_test)

In [ ]:
from sklearn.metrics import confusion_matrix
res2 = confusion_matrix(y_test, et)
print("Confusion Matrix")
print(res2)
print(f"Test Set: {len(X_test)}")
print(f"Accuracy = {percentage2*100} %")

Confusion Matrix
[[31  0]
 [ 2 30]]
Test Set: 63
Accuracy = 96.82539682539682 %

In [ ]:
from sklearn.metrics import classification_report
print("Accuracy Classification")
print(classification_report(y_test,et))

Accuracy Classification
              precision    recall  f1-score   support

           1       0.94      1.00      0.97        31
           2       1.00      0.94      0.97        32

    accuracy                           0.97        63
   macro avg       0.97      0.97      0.97        63
weighted avg       0.97      0.97      0.97        63

##Naive Bayes - Gaussian

In [ ]:
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB()

In [ ]:
nb.score(X_test, y_test)

0.8412698412698413

In [ ]:
gs = nb.predict(X_test)

In [ ]:
percentage3 = nb.score(X_test, y_test)

In [ ]:
from sklearn.metrics import confusion_matrix
res3 = confusion_matrix(y_test, gs)
print("Confusion Matrix")
print(res3)
print(f"Test Set: {len(X_test)}")
print(f"Accuracy = {percentage3*100} %")

Confusion Matrix
[[29  2]
 [ 8 24]]
Test Set: 63
Accuracy = 84.12698412698413 %

In [ ]:
from sklearn.metrics import classification_report
print("Accuracy Classification")
print(classification_report(y_test,gs))

Accuracy Classification
              precision    recall  f1-score   support

           1       0.78      0.94      0.85        31
           2       0.92      0.75      0.83        32

    accuracy                           0.84        63
   macro avg       0.85      0.84      0.84        63
weighted avg       0.85      0.84      0.84        63

![alt text](https://2.bp.blogspot.com/-EvSXDotTOwc/XMfeOGZ-CVI/AAAAAAAAEiE/oePFfvhfOQM11dgRn9FkPxlegCXbgOF4QCLcBGAs/s1600/confusionMatrxiUpdated.jpg")

# Kesimpulan

Berdasarkan pemodelan dengan tiga algoritma berbeda. Hasil terbaik yaitu dengan menggunakan model SVM dengan tingkat akurasi 100%. Sebenarnya hasil dari Random Forest beberepa kali sama seperti dengan hasil SVM dengan tingkat akurasi 100%. Namun, jika dilakukan pengulangan, tingkat akaurasi Random Forest cenderung berubah-rubah, berbeda dengan algoritma SVM yang lebih sering mendapatkan ketepatan akurasi 100%